NODE_ENV=development
PORT=3000
API_VERSION=v1

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nama_database_kamu
DB_USER=username_databe
DB_PASS=kalau_ada

JWT_SECRET=isi-string-random-panjang-susah-ditebak
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=ganti-dengan-hasil-openssl-rand-hex-64-yang-berbeda
JWT_REFRESH_EXPIRES_IN=7d

# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DBNAME?schema=public"

# MySQL
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DBNAME"

# SQLite
DATABASE_URL="file:./dev.db"