NODE_ENV=development
PORT=3000
API_VERSION=v1

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nama_database_kamu
DB_USER=username_databe
DB_PASS=kalau_ada

JWT_SECRET=isi-string-random-panjang-susah-ditebak
JWT_EXPIRES_IN=7d